#wwd{
    padding-top: 4em;
    padding-bottom: 3em;
}

#price{
    padding-top: 4em; 
    padding-bottom: 3em; 
}

#contact{
    padding-top: 4em; 
    padding-bottom: 3em; 
}

#name{
    font-size: 5em;
}
hr {
    width: 100%;
    height: .5em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 0 none;
    margin-top: 1em;
    margin-bottom: 2em;
    }